* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

.modal-container:has(.modal--open) {
    display: flex;

    align-items: center;
    justify-content: center;
}

.modal {
    display: none;

    padding: 3rem 5rem;
    background-color: #fff;

    z-index: 101;
}

.modal__header {
    margin-bottom: 2rem;
}

.modal__body {
    margin-bottom: 2rem;
}

.modal__footer {
    display: flex;
    justify-content: flex-end;
}

.modal__footer button {
    padding: 5px;
}

.modal.modal--open {
    display: block;
}